.team-clean {
  color: #313437;
  background-color: #fff;
}

.team-clean p {
  color: #7d8285;
}

.team-clean h2 {
  font-weight: bold;
  margin-bottom: 40px;
  padding-top: 40px;
  color: inherit;
}

@media (max-width:767px) {
  .team-clean h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
}

.team-clean .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto;
}

.team-clean .intro p {
  margin-bottom: 0;
}

.team-clean .people {
  padding-bottom: 40px;
}

.team-clean .item {
  text-align: center;
  padding-top: 50px;
}

.team-clean .item .name {
  font-weight: bold;
  margin-top: 28px;
  margin-bottom: 8px;
  color: inherit;
}

.team-clean .item .title {
  text-transform: uppercase;
  font-weight: bold;
  color: #d0d0d0;
  letter-spacing: 2px;
  font-size: 13px;
}

.team-clean .item .description {
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.team-clean .item img {
  max-width: 160px;
}

.team-clean .social {
  font-size: 18px;
  color: #a2a8ae;
}

.team-clean .social a {
  color: inherit;
  margin: 0 10px;
  display: inline-block;
  opacity: 0.7;
}

.team-clean .social a:hover {
  opacity: 1;
}

 /* Target the scrollbar */
 ::-webkit-scrollbar {
  width: 7px; /* Set the width of the scrollbar to 7px */
}

/* Track (the area on which the thumb travels) */
::-webkit-scrollbar-track {
  background: rgba(3, 144, 214, 0.1); /* Set the RGB color with transparency for the track */
}

/* Handle (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background: rgba(3, 144, 214, 0.3); /* Set the RGB color with transparency for the handle */
  border-radius: 6px; /* Set the border radius to make it rounder */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(3, 144, 214, 0.5); /* Set the RGB color with transparency for the handle on hover */
}